
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family:  Raleway, sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    
    a:active {
        opacity: 0.6;
    }
}

a {
    color: var(--color-accent-gold);
}





