/* ---------FOOTER------------ */

.footer {
  background-color: var(--color-bg-navbar);
  padding: 70px 40px 40px 40px;
  border-top: 1px solid var(--color-border);
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.footer-label {
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 8px;
}



.footer p {
  margin: 6px 0;
  font-size: 14px;
  color: #4A413B;
}

.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid var(--color-border);
  text-align: center;
  font-size: 13px;
  color: #6B5F55;
}

.footer-social{
  margin-top: 8px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  gap: 16px;
  

}

.social-link {
  gap: 16px;
  color: #4A413B;
  font-size: 22px;
 transition: color 0.02s ease;
}

.social-link:hover {
  color: #1a1a1a;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-container > div {
    flex: 1 1 45%;
}
}